

body {
  background:
  url(images/bg-pattern-top.svg) 0 0 no-repeat,
  url(images/bg-pattern-bottom.svg)100% 100% no-repeat,
  #19A2AE;

  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;

}
.card{
  background-color: white;
  border-radius: 10%;
  height: 30rem;
  width: 20rem;
}
.card-pattern{
  background: url(images/bg-pattern-card.svg) #6A6F81;
  height: 5rem;
  width: 20rem;
}
 .victor {
   border-radius: 100%;
 }

 h1 {
   font-size: 18px;
   font-weight: 700;
 }
 h2 {
   font-size: 18px;
   font-weight: 700;
 }
 p{
   color:#969696;
   color: hsl(0, 0%, 59%);
   font-weight: 400;
 }
 .age {
   color:#969696;
   color: hsl(0, 0%, 59%);
    font-weight: 400;
 }
 .name {
   border-bottom: #969696 solid 1px;
 }
